<%- include('header'); -%>

<h2>This is the about page</h2>
<p>And this page is created purposely to check the header and footer working or not and for testing of Layout</p>

<%- include('footer'); -%>